body {
    background-color: green;
    text-align: center;
}

h1 {
    color: black;
    text-align: center; 
    
}

button {
    width: 100px;
    height: 50px;
    font-weight: bold;
    font-size: 20px;
    margin-top: 10px;

}

img{
    padding: 5px;
    margin-top: 40px;
}

p {
    font-weight: bold;
    font-size: 20px;
}

label {
    font-weight: bold;
    font-size: 30px;
   
}
input {
    height: 50px;
    width: 50px;
    font-size: 20px;
}

